/* 
ORANGE COLOR: #e67e22
*/

/* BASIC SETUP */
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html,
body{
    background-color: white;
    color: rgb(82, 82, 82);
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}
.clearfix{
    zoom: 1;
}
.clearfix::after{
    content: '';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* REUSABLE COMPONENTS */
.row{
    max-width: 1140px;
    margin: 0 auto;
}
section{
    padding: 80px 0 ;
}
.box{
    padding: 1%;
}

/* HEADINGS */
h1,
h2,
h3{
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing:1px;
}
h1{
    margin-top: 0;
    margin-bottom: 20px;
    color: white;
    font-size: 240%;
    word-spacing: 4px;

}
h2{
    font-size:180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
}
h2::after{
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 10px auto 0 auto;
}
h3{
    font-size: 110%;
    margin-bottom: 15px;
}
/* .darkenBackground{
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;

} */

/* PARAGRAPHS */
.longCopy{
    line-height: 145%;
    width: 70%;
    margin: 0 auto 30px auto;

}
.box p{
    font-size: 90%;
    line-height: 145%;
}
/* ICONS */
.iconBig{
    font-size: 350%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
}
.iconSmall{
    color: #e67e22;
    display: inline-block;
    width: 30px;
    text-align: center;
    font-size: 90%;
    margin-right: 10px;
    /* secrets to align text and icons */
    line-height: 90%;
    vertical-align: middle;
    margin-top: -3px;
}
/* BUTTONS */
.btn:link,
.btn:visited,
input[type=submit]{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    color: white;
    border-radius: 200px;
}
.btn-full:link,
.btn-full:visited,
input[type=submit]{
    background-color: #e67e22;
    border: 1px solid #e67e22;
    margin-right: 15px;


}
.btn-ghost:link,
.btn-ghost:visited{
    color: #e67e22;
    border: 1px solid #e67e22;
}
.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active{
    background-color: #b05d14!important;
    -webkit-transition: background-color 0.2s,border 0.2s,color 0.2s ;
    transition: background-color 0.2s,border 0.2s,color 0.2s ;
    outline: none;
}
.btn-full:hover,
.btn-full:active,
input[type=submit]:hover,
input[type=submit]:active{
    border: 1px solid #b05d14;

}
.btn-ghost:hover,
.btn-ghost:active{
    border: 1px solid #b05d14;
    color: white;
}
/* HEADER */
header{
    background-image:-webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.63)),to(rgba(0, 0, 0, 0.63))),url(./img/hero.jpg);
    background-image:linear-gradient(rgba(0, 0, 0, 0.63),rgba(0, 0, 0, 0.63)),url(./img/hero.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
} 
.heroTextBox{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}
.logo,
.blackLogo{
    height:100px;
    width: auto;
    float: left;
    margin-top: 20px;
}
.blackLogo{
    display: none;
    width: 50px;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.mainNav{
    float: right;
    list-style-type: none;
    margin-top: 55px;

}
.mainNav li{
    display: inline;
    margin-left: 40px;
}
.mainNav li a:link,
.mainNav li a:visited{
    padding: 8px 0;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: 0.2s border-bottom;
    transition: 0.2s border-bottom;
}
.mainNav li a:hover,
.mainNav li a:active{
    border-bottom: 2px solid #e67e22; 
}
/* 
MOBILE NAVI
*/
.mobileNavIcon{
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}
.mobileNavIcon i{
    font-size: 200%;
    color: white;
}

/* 
STICKY NAVI
*/
.sticky{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
    background-color: rgba(255, 255, 255, 0.966);
    -webkit-box-shadow: 0px 2px 2px  rgb(209, 209, 209);
            box-shadow: 0px 2px 2px  rgb(209, 209, 209);
}
.sticky .mainNav li a:link,
.sticky .mainNav li a:visited{
    padding: 15px 0;
    color: #333;
}
.sticky .mainNav li a:hover,
.sticky .mainNav li a:active{
    border-bottom: 3px solid #e67e22; 
}
.sticky .logo{
    display: none;
}
.sticky .blackLogo{
    display: block;
}
.sticky .mainNav{
    margin-top: 25px;

}
.sticky .mobileNavIcon{
    margin-top: 10px;
}
/* MEALS */
.sectionMeals{
    padding: 0;
}
.mealsShowcase{
    list-style-type: none;
    width: 100%;
    
}
.mealsShowcase li{
    display: block;
    float: left; 
    width: 25%;
    
}
.mealPhoto{
    width: 100%;
    margin: 0;
    overflow: hidden;
}
.mealPhoto img{
    width: 100%;
    height: auto;
    -webkit-filter: brightness(50%);
            filter: brightness(50%);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: scale(1.20);
            transform: scale(1.20);
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;

}

.mealPhoto:hover img{
 -webkit-filter: brightness(100%);
         filter: brightness(100%);
 -webkit-transform: scale(1.03);
         transform: scale(1.03);
 
}
/* 
    HOW IT WORKS SECTION
*/
.sectionSteps{
    background-color: rgba(212, 212, 212, 0.705);
}
.stepsBox:first-child{
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;

}
.stepsBox:last-child{
    padding-left: 3%;
    margin-top: 70px;
}
.appScreen{
    width: 40%;
}
.workStep{
    margin-bottom: 50px;
}
.workStep div{
    display: inline-block;
    color: #e67e22;
    font-size: 150%;
    border: 2px solid #e67e22;
    text-align: center;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    float: left;
    padding: 5px;
    margin-right: 25px
}
.workStep:last-of-type{
    margin-bottom: 80px;
}
.btnApp img{
        height: 50px;
        width: auto;
        margin-right: 10px;
}
/* 
CITY SECTION
*/
.cityFeature{
    margin-bottom: 5px;
}
.box img{
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.box a{
    color: #e67e22;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #e67e22;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;

}
.box a:hover{
    color: black;
    border-bottom: 1px solid transparent;
}
/* 
    TESTIMONIALS SECTION
*/
.sectionTestimonials{
    background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.76)),to(rgba(0, 0, 0, 0.76))),url(../img/back-customers.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.76),rgba(0, 0, 0, 0.76)),url(../img/back-customers.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: white;
    
}
blockquote{
    position: relative;
    display: block;
padding: 2%;
/* font-size: 90%; */
font-style: italic;
line-height: 145%;
margin-top: 40px;
}
blockquote img{
    /* float: left; */
    display: inline-block;
    border-radius: 50%;
    height: 45px;
    width: auto;
    /* position: relative; */
    /* top:20px; */
    margin-right: 10px;
    vertical-align: middle;
}
blockquote cite{
   display: block;
    margin-top: 25px;
    font-size: 90%;
    
}
blockquote::before{
    content: '\201C';
    display: block;
    position: absolute;
    font-size: 500%;
    top: -5px;
    left: -3px;
}
/* 
Section Plans
*/
.sectionPlans{
    background-color: rgba(212, 212, 212, 0.705);
}
.planBox{
    background-color: white;
    border-radius: 5px;
    width: 90%;
    margin: 0 auto;
    -webkit-box-shadow: 1px 13px 85px -1px rgb(160, 160, 160);
            box-shadow: 1px 13px 85px -1px rgb(160, 160, 160);
}
.planBox div{
    padding: 15px;
    border-bottom: 1px solid rgb(163, 163, 163);
}
.planBox ul{
    list-style-type: none;
}
.planBox ul li{
    padding: 15px 0;

}
.planBox div:last-child{
    text-align: center;
    border-bottom: none;
}
.planBox div:first-child{
    background-color: rgb(248, 247, 247);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.planBox h3{
    margin-bottom: 30px;
}
.planPrice{
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: #e67e22;
}
.planPrice span{
    font-size: 30%;
    font-weight: 300;
}
.planPerMeal{
    font-size: 80%;
}
/* 
    FORM
*/

.contactForm{
    width: 60%;
    margin: 0 auto;
}
.contactForm input[type=text],
input[type=email],
select,
textarea{
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid rgb(190, 190, 190);
    outline: none;
}
textarea{
    height: 100px;
}
input[type=checkbox]{
    margin: 10px 5px 10px 0;
}
/* 
FOOTER
*/
footer{
    background-color: #333;
    padding: 50px;
    color: #888;
    font-size: 80%;

}
footer li{
    display: inline-block;
    list-style-type: none;
    margin-right: 15px;
    float: left;
}
footer li:last-child{
    margin-right: 0;
}
.footerNav a:link,
.footerNav a:visited{
    color: #888;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.footerNav a:hover,
.footerNav a:active{
    color: white;
}
.socialLinks a{
    color: #888;
}
.fa-facebook-f,
.fa-twitter,
.fa-google-plus-g,
.fa-instagram{
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.fa-facebook-f:hover{
    color: #3b5998;
}
.fa-twitter:hover{
    color: #38A1F3;
}
.fa-google-plus-g:hover{
    color: #dc4e41;
}
.fa-instagram:hover{
    color: #517fa4;
}
.footerNav{
    float: left;
}
.socialLinks{
    float: right;
}
footer p{
   text-align: center;
   margin-top: 20px;
}
/* 
Animations
*/
.wayPointOne,
.wayPointTwo,
.wayPointThree{
    opacity: 0;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
}
.wayPointFour{
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
}
.wayPointOne.animated,
.wayPointTwo.animated,
.wayPointThree.animated{
    opacity: 1;
}